summary {
    display: block;
}

summary::-webkit-details-marker {
    display: none;
}

.product_menu {
    background-color: #F8F3F4;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-top: 60px;
    padding-bottom: 60px;
    border-bottom: 1px solid #EAEAEA;
    .product_menu_title {
        color: #F16D7F;
        font-family: Lato;
        font-size: 24px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
    }
    .product_menu_list {
        display: flex;
        flex-direction: row;
        .product_menu_box:last-child .product_menu_link {
            font-weight: 700;
            color: #F16D7F;
        }
        .product_menu_box:not(:last-child)::after {
            content: '/';
            padding-left: 8px;
            padding-right: 8px;
            font-style: normal;
            font-weight: 300;
            font-size: 14px;
            line-height: 17px;
            color: #636363;
        }
        .product_menu_link {
            font-style: normal;
            font-weight: 300;
            font-size: 14px;
            line-height: 17px;
            color: #636363;
            transition: 0.3s;
        }
        .product_menu_link:hover {
            color: #F16D7F;
        }
    }
}

.product_slides {
    padding-top: 12px;
    padding-bottom: 42px;
    background-color: #F7F7F7;
    border: 1px solid #EAEAEA;
    height: 777px;
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    .slider_arrow {
        background: rgba(42, 42, 42, 0.15);
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        width: 47px;
        height: 47px;
        position: absolute;
        top: 365px;
        transition: 0.3s;
    }
    .slider_arrow:hover path {
        fill: #F16D7F;
    }
    .slider_arrow_left {
        left: 0;
    }
    .slider_arrow_right {
        right: 0;
    }
}

.product_women_collection {
    background-color: #FFFFFF;
    border: 1px solid #EAEAEA;
    padding-top: 64px;
    padding-bottom: 64px;
    text-align: center;
    z-index: 10;
    position: relative;
    max-width: 1140px;
    margin: -65px auto 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    .product_women_collection_title {
        color: #F16D7F;
        font-family: Lato;
        font-size: 14px;
        font-style: normal;
        font-weight: 300;
        line-height: normal;
        margin-bottom: 12px;
    }
    .product_women_collection_subtitle {
        color: #4D4D4D;
        font-family: Lato;
        font-size: 18px;
        font-style: normal;
        font-weight: 300;
        line-height: normal;
        margin-bottom: 48px;
        margin-top: 12px;
    }
    .product_women_collection_desc {
        color: #5E5E5E;
        text-align: center;
        font-family: Lato;
        font-size: 14px;
        font-style: normal;
        font-weight: 300;
        line-height: normal;
        margin: auto;
        margin-bottom: 32px;
        max-width: 555px;
    }
    .product_women_collection_price {
        color: #EF5B70;
        font-family: Lato;
        font-size: 24px;
        font-style: normal;
        font-weight: 300;
        line-height: normal;
        margin-bottom: 65px;
    }
    .product_women_collection_filters {
        padding-top: 65px;
        padding-bottom: 48px;
        display: flex;
        gap: 22px;
    }
    .filters {
        position: relative;
    }
    .filter_summery {
        display: flex;
        align-items: center;
        gap: 11px;
    }
    .filter_title {
        color: #6F6E6E;
        font-family: Lato;
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
    }
    .filter_box {
        background: #FFF;
        box-shadow: 6px 4px 35px 0px rgba(0, 0, 0, 0.21);
        padding: 7px 30px 11px 9px;
        position: absolute;
        top: 22px;
        display: flex;
        flex-direction: column;
        gap: 6px;
    }
    .filter_check {
        display: flex;
        gap: 9px;
        align-items: center;
        color: #6F6E6E;
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
    }
    .product_women_collection_add {
        border: #FF6A6A solid 1px;
        width: 212px;
        height: 48px;
        color: #F26376;
        font-family: Lato;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        align-items: center;
        justify-content: center;
        gap: 22px;
        display: flex;
        transition: 0.3s;
    }
    .product_women_collection_add:hover {
        background-color: #F16D7F;
        color: #FFFFFF;
    }
    .product_women_collection_add:hover svg path {
        fill: #FFFFFF;
    }
}

.product_catalogue {
    display: grid;
    margin-top: 129px;
    gap: 30px;
    grid-template-columns: repeat(3, 360px);
    margin-bottom: 128px;
}

// .filter-sort {
//     padding-top: 39px;
//     display: -webkit-box;
//     display: -ms-flexbox;
//     display: flex;
//     gap: 30px;
//     .filter__summary {
//         display: -webkit-box;
//         display: -ms-flexbox;
//         display: flex;
//         gap: 11px;
//         -webkit-box-align: center;
//         -ms-flex-align: center;
//         align-items: center;
//     }
//     .filter[open] {
//         background: #FFFFFF;
//         -webkit-box-shadow: 6px 4px 35px rgba(0, 0, 0, 0.21);
//         box-shadow: 6px 4px 35px rgba(0, 0, 0, 0.21);
//     }
//     .filter[open] .filter__summary {
//         color: #F16D7F;
//     }
//     .filter[open] .filter__img path {
//         fill: #F16D7F;
//     }
//     .filter__category {
//         margin-top: 16px;
//         .filter__category-summary {
//             font-style: normal;
//             font-weight: 400;
//             font-size: 14px;
//             line-height: 17px;
//             color: #6F6E6E;
//             padding: 8px 11px 11px;
//             border-left: 5px solid #F16D7F;
//             border-bottom: 1px solid #EBEBEB;
//         }
//     }
//     .filter__category[open] .filter__category-summary {
//         color: #F16D7F;
//     }
//     .filter-box {
//         position: relative;
//         height: 40px;
//         width: 360px;
//         .filter {
//             width: 100%;
//             padding: 13px 16px 16px;
//             -webkit-box-sizing: border-box;
//             box-sizing: border-box;
//             position: absolute;
//             z-index: 1;
//         }
//     }
//     .filter__box {
//         display: -webkit-box;
//         display: -ms-flexbox;
//         display: flex;
//         -webkit-box-orient: vertical;
//         -webkit-box-direction: normal;
//         -ms-flex-direction: column;
//         flex-direction: column;
//         padding: 24px 16px;
//         gap: 11px;
//         .filter__link {
//             font-style: normal;
//             font-weight: 400;
//             font-size: 14px;
//             line-height: 17px;
//             color: #6F6E6E;
//         }
//         .filter__link:hover {
//             color: #F16D7F;
//         }
//     }
// }