* {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

body {
    font-family: 'Lato', sans-serif;
}

.center {
    padding-left: calc(50% - 570px);
    padding-right: calc(50% - 570px);
    /* 570 это половина контентной части */
}

.header {
    height: 75px;
    display: flex;
    flex-shrink: 0;
    background-color: #222;
    align-items: center;
}

.logo_pic {
    padding-right: 41px;
}

.search_pic {
    margin-right: 859px;
}

.right_menu1 {
    margin-right: 25px;
}

.right_menu2 {
    margin-right: 25px;
}

.top {
    height: 764px;
    background-color: #F1E4E6;
    stroke-width: 1px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    display: flex;
    margin-left: -230px;
}

.man_picture {
    height: 764px;
    min-width: 800.58px;
    margin-right: 63px;
}

.brand_name {
    margin-top: 290px;
    margin-bottom: 381px;
    display: flex;
}

.brand_title {
    display: flex;
    flex-direction: column;
    width: 377px;
    height: 93px;
}

.pink_line {
    margin-right: 16px;
}

.title {
    color: #222;
    font-family: Lato;
    font-size: 48px;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
}

.subtitle {
    color: #222;
    font-family: Lato;
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.subtitle-color {
    color: #F16D7F;
    font-family: Lato;
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.top_menu {
    display: grid;
    margin-top: 65px;
    gap: 30px;
    grid-template-columns: repeat(3, 360px);
    justify-content: center;
}

.menu_item1 {
    width: 360px;
    height: 260px;
    background-image: url(img/for_women.svg);
    background-position: center;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.menu_item2 {
    width: 360px;
    height: 260px;
    background-image: url(img/for_men.svg);
    background-position: center;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.menu_item3 {
    width: 360px;
    height: 260px;
    background-image: url(img/for_kids.svg);
    background-position: center;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.menu_item4 {
    grid-column: span 3;
    height: 260px;
    background-image: url(img/accesories.svg);
    background-position: center;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.item_text {
    text-align: center;
}

.desc_item {
    color: #FFF;
    text-align: center;
    font-family: Lato;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.name_item {
    color: #F16D7F;
    font-family: Lato;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.featured_items {
    margin-top: 96px;
    margin-bottom: 60px;
}

.featured_title {
    color: #222;
    font-family: Lato;
    font-size: 30px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-align: center;
}

.featured_describtion {
    color: #9F9F9F;
    font-family: Lato;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-top: 6px;
    text-align: center;
}

.catalogue {
    display: grid;
    margin-top: 48px;
    gap: 30px;
    grid-template-columns: repeat(3, 360px);
    margin-bottom: 48px;
}

.item_info {
    display: flex;
    padding-top: 0px;
    padding-bottom: 24px;
    flex-direction: column;
    background-color: #F8F8F8;
}

.item_picture2 {
    height: 420px;
    width: 360px;
    background-color: #F7E4E2;
}

.item_name {
    color: #000;
    font-family: Lato;
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    padding-top: 24px;
    padding-left: 16px;
}

.item_desctibtion {
    color: #5D5D5D;
    font-family: Lato;
    font-size: 14px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    padding-top: 16px;
    padding-left: 16px;
    max-width: 314px;
}

.price {
    color: #F16D7F;
    font-family: Lato;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    padding-top: 16px;
    padding-left: 16px;
}

.browse_button {
    text-align: center;
    display: block;
    color: #F26376;
    font-family: Lato;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    border-color: #FF6A6A;
    background-color: transparent;
    padding: 15px 39px 14px 39px;
    border-style: solid;
    margin: 0 auto;
    display: block;
}

@media (max-width: 1024px) {
    .center {
        padding-left: calc(50% - 369px);
        padding-right: calc(50% - 369px);
        /* тут есть зазоры с друх сторон по 8px
        (770-32)/2. 16px зазоры с двух сторон */
    }
    .header {
        height: 74px;
        padding-left: 16px;
        padding-right: 16px;
    }
    .search_pic {
        margin-right: 424px;
    }
    .logo_pic {
        padding-left: 16px;
    }
    .top {
        height: 368px;
        margin-left: -16px;
    }
    .man_picture {
        height: 368px;
        min-width: 386px;
        margin-right: 39px;
    }
    .brand_name {
        margin-top: 138.1px;
        margin-bottom: 151.47px;
    }
    .brand_title {
        width: 283px;
        height: 78px;
    }
    .title {
        font-size: 44px;
    }
    .subtitle {
        font-size: 24px;
    }
    .subtitle-color {
        font-size: 24px;
    }
    .top_menu {
        gap: 19px;
        grid-template-columns: repeat(3, 231.973px);
    }
    .menu_item1 {
        width: 231.973px;
        height: 167.617px;
    }
    .menu_item2 {
        width: 231.973px;
        height: 167.617px;
    }
    .menu_item3 {
        width: 231.973px;
        height: 167.617px;
    }
    .menu_item4 {
        height: 116px;
    }
    .featured_items {
        margin-top: 109.92px;
        margin-bottom: 70.52px;
    }
    .catalogue {
        display: grid;
        margin-top: 73px;
        gap: 17px;
        grid-template-columns: repeat(2, 360px);
        margin-bottom: 32.5px;
    }
    .item_info {
        padding-bottom: 20px;
    }
    .item_name {
        padding-left: 18px;
    }
    .item_desctibtion {
        padding-top: 12.65px;
        padding-left: 16.5px;
    }
    .price {
        padding-top: 18px;
        padding-left: 18px;
    }
}

@media (max-width:767px) {
    .center {
        padding-left: calc(50% - 204.5px);
        padding-right: calc(50% - 204.5px);
        /* тут есть зазоры с друх сторон по 8px
        (424-16)/2. 8px зазоры с двух сторон */
    }
    .header {
        height: 74px;
        padding-left: 0px;
        padding-right: 0px;
    }
    .search_pic {
        margin-right: 200px;
    }
    .top {
        height: 363px;
        margin: auto;
        justify-content: center;
    }
    .right_menu2 {
        display: none;
    }
    .right_menu3 {
        display: none;
    }
    .man_picture {
        display: none;
    }
    .brand_name {
        align-items: center;
    }
    .brand_title {
        width: 236px;
        height: 66px;
    }
    .pink_line {
        margin-right: 15px;
    }
    .title {
        font-size: 38px;
    }
    .subtitle {
        font-size: 20px;
    }
    .subtitle-color {
        font-size: 20px;
    }
    .top_menu {
        margin-top: 64px;
        gap: 32px;
        grid-template-columns: repeat(1, 343px);
    }
    .menu_item1 {
        width: 343px;
        height: 247px;
    }
    .menu_item2 {
        width: 343px;
        height: 247px;
    }
    .menu_item3 {
        width: 343px;
        height: 247px;
    }
    .menu_item4 {
        grid-column: span 1;
        width: 343px;
        height: 111px;
    }
    .featured_items {
        margin-top: 64px;
        margin-bottom: 85px;
    }
    .featured_describtion {
        margin-top: 3.3px;
    }
    .catalogue {
        margin-top: 64.7px;
        gap: 16.61px;
        grid-template-columns: repeat(1, 360px);
        margin-bottom: 40.61px;
        justify-content: center;
    }
    .item_info {
        padding-bottom: 19.9px;
    }
    .item_name {
        padding-left: 18px;
    }
    .item_desctibtion {
        padding-top: 12.62px;
        padding-left: 16px;
    }
    .price {
        padding-top: 17.95px;
        padding-left: 18.36px;
    }
}