* {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

.center {
    padding-left: calc(50% - 580px);
    padding-right: calc(50% - 580px);
}

body {
    font-family: "Gilroy-SemiBold";
    font-family: 'Gilroy-Bold', sans-serif;
    font-family: 'Gilroy-Heavy', sans-serif;
    font-family: 'Gilroy-Light', sans-serif;
    font-family: 'Gilroy-Medium', sans-serif;
    font-family: 'Gilroy-Regular', sans-serif;
}

.whole_page {
    background: #FFF;
}

.header {
    display: flex;
    margin-top: 51px;
    justify-content: space-between;
    align-items: center;
}

.menu {
    display: flex;
    gap: 30px;
}

.menu_link_home {
    color: #F25822;
    font-family: Gilroy-SemiBold;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.menu_link {
    color: #000;
    font-family: Gilroy-Medium;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.content {
    margin-top: 96px;
    margin-bottom: 178px;
    display: flex;
    flex-wrap: wrap;
    gap: 41px;
}

.title {
    width: 522px;
    color: #000;
    font-family: Gilroy-Bold;
    font-size: 60px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.describtion {
    margin-top: 17px;
    width: 466px;
    color: #888;
    font-family: Gilroy-Medium;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.buttons {
    margin-top: 52px;
    gap: 72px;
    display: flex;
}

.button1 {
    color: #FFF;
    font-family: Gilroy-Bold;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    border-radius: 50px;
    background: #F25822;
    box-shadow: 4px 4px 8px 0px rgba(242, 88, 34, 0.20);
    width: 140px;
    height: 50px;
    flex-shrink: 0;
    border: 0;
}

.button2 {
    color: #AAA;
    font-family: Gilroy-Bold;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    background-color: #FFF;
    border: 0;
}

.logos {
    padding-top: 97px;
    padding-bottom: 96px;
    display: flex;
    gap: 48px;
    flex-wrap: nowrap;
    justify-content: center;
}

.options {
    display: grid;
    gap: 60px;
    grid-template-columns: repeat(3, 370px);
    justify-content: center;
    padding-top: 100px;
    padding-bottom: 100px;
}

.options_item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start
}

.options_item_dif {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background: #FFF;
    box-shadow: 15px 25px 56px 6px rgba(0, 0, 0, 0.06);
    align-items: flex-start
}

.option_img {
    width: 70px;
    height: 70px;
    flex-shrink: 0;
    margin-top: 40px;
    margin-left: 30px;
}

.option_heading {
    color: #000;
    font-family: Gilroy-Bold;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-top: 25px;
    margin-left: 29px;
}

.option_text {
    color: #666;
    font-family: Gilroy-Regular;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
    /* 22.5px */
    width: 310px;
    height: 42px;
    flex-shrink: 0;
    margin-top: 17px;
    margin-left: 29px;
}

.option_read {
    color: #000;
    font-family: Gilroy-Bold;
    font-size: 11px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
    /* 16.5px */
    border: 0px;
    background-color: transparent;
    width: 64px;
    margin-top: 25px;
    margin-left: 29px;
    margin-bottom: 25px;
}

.reasons {
    background-color: #FAFAFA;
    padding-top: 92px;
    padding-bottom: 100px;
}

.reasons_heading {
    margin-left: auto;
    margin-right: auto;
    color: #000;
    font-family: Gilroy-Bold;
    font-size: 45px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    width: 579px;
    justify-content: center;
    display: flex;
}

.text_reasons {
    margin-top: 19px;
    width: 682px;
    color: #666;
    text-align: center;
    font-family: Gilroy-Regular;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
    /* 24px */
    margin-left: auto;
    margin-right: auto;
}

.reason_block {
    display: grid;
    gap: 30px;
    grid-template-columns: repeat(3, 370px);
    justify-content: center;
    padding-top: 15px;
    padding-bottom: 50px;
    margin-top: 54px;
}

.reasons_item {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    background: #FFF;
    width: 370px;
    height: 549px;
    flex-shrink: 0;
}

.reasons_item_special {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    background: #FFF;
    box-shadow: 15px 25px 60px -5px rgba(0, 0, 0, 0.10);
    width: 370px;
    height: 549px;
    flex-shrink: 0;
}

.reasom_name {
    color: #000;
    font-family: Gilroy-Bold;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.reason_desc {
    color: #AAA;
    text-align: center;
    font-family: Gilroy-Regular;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
    /* 22.5px */
    width: 310px;
    height: 63px;
    flex-shrink: 0;
    margin-top: 22px;
}

.reasons_img {
    width: 370px;
    height: 289px;
    flex-shrink: 0;
}

.learn_button {
    color: #FFF;
    text-align: center;
    font-family: Gilroy-Bold;
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
    /* 19.5px */
    border-radius: 50px;
    background: #F25822;
    box-shadow: 4px 4px 8px 0px rgba(242, 88, 34, 0.20);
    width: 140px;
    height: 50px;
    flex-shrink: 0;
    border: 0;
    margin-top: 39px;
    margin-bottom: 50px;
}